*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --h1-font:5rem;
    --h2-font:2.9rem;
    --p-font:1.1rem;

    --bg-color:#e5dbdb;
    --text-color:#180b0b;
    --main-color:#52884f;
    --other-color:#000000;

}


body{
    background: var(--bg-color);
    color: var(--text-color);
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:80px 15% 70px;
    transition: all .50s ease;

}
header.sticky{
    padding: 8px 15%;
    background:#c1bcbc;
    margin-bottom: 2rem;
}
.sticky a img{
    height: 3.5rem;
}


.logo   {
    height: auto;
    width: 100%;
    color: var(--text-color);
}
.navbar{
    display: flex;
    gap: 10px;
}

.navbar a{
    font-size: 1.5rem;
    padding: 10px 25px;
    /* font-size: var(--p-font); */
    font-weight: 500;
    color: var(--other-color);
    transition: all .40s ease;
    
}
.navbar a:hover{
    color: var(--text-color);
    border-bottom: 2px solid black;
    transform: translateY(-5px);
    
}

.h-btn{
    display: flex;
    align-items: center;
}

.h-btn2{
    display: inline-block;
    padding: 8px 18px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;
    border-radius: 5px;
}
.h-btn2:hover{
    transform: translateX(-7px);
    box-shadow: 2px 5px 10px rgb(80, 76, 76);
}
.h-btn1{
    display: inline-block;
    padding: 8px 20px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .40s ease;  
    border-radius: 5px;
}
.h-btn1:hover{
    transform: translateX(-7px);
    box-shadow: 2px 5px 10px rgb(80, 76, 76);
}
#menu-icon{
    color: var(--text-color);
    font-size: 36px;
    margin-left: 5px;
    z-index:10001;
    display: none;
}

section{
    padding:80px 15% 70px;
}

.login{
    margin: 3rem auto;
    /* position: absolute;  */
    width: max-content;
    padding: 1rem ;
    background-color: var(--bg-color);
    border-radius: 5px;

}
.login h1{
    margin-bottom: 20px;
}
.close-btn{
    position: absolute;
    top: 10px;
    right:25px;
    font-size: 24px;
}
.close-btn a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    color: var(--other-color);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 10% 15px;
}
.title{
    border-bottom: 2px solid var(--main-color);
    position: relative;
    text-align: center;
    font-size: 24px;
}
.login-img {
    background-image: url(img/hero.png);
    width: 20rem;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}
.login-img h3{
    display: block;
    width: 100%;
    font-size: 30px;
    color: var(--text-color);
}
.login-img p{
    font-size: 18px;
    color: #52884f;
}
.login-forms{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 500px;
    margin-right: 6rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-forms a{
    text-decoration: none;
    
}
.input{
    display: grid;
    gap: .5rem;
    
}
.input label{
    font-size: 24px;
}
.input input{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;

}
.loca{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.loca option{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.login-btn{
    background: var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.login-btn:hover{
    box-shadow: 2px 5px 10px rgb(80, 76, 76);
}
.register-btn{
    background-color: var(--main-color);
    padding: 10px 3rem;
    border-radius: 5px;
    margin-left: 4rem;
    cursor: pointer;
}
.register-btn a{
    color: var(--text-color);
}
.register-btn:hover{
    box-shadow: 2px 5px 10px rgb(80, 76, 76);
}

