
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.footer{
    padding: 20px 10% 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 2rem;
    background-color: gray;
   
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight:500 ;
    transition: all .40s ease;
}
.footer-content li a:hover{
     transform: translateY(-3px) translateX(-5px);
     color:#fff ;
}
.footer-content p{
    color: #d6d6d6;
    line-height: 1rem;
    margin-top: 20px;
}

.footer-content a h1{
    color: #d6d6d6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight:500;
}
.icons a{
    display: inline-block;
    font-size: 24px;
    color: #d6d6d6;
    margin-right: 15px;
    transition: all .40s ease;
    margin-top: 20px;
}
.icons a:hover{
    transform: translateY(-5px);
    color: #fff;
}